html {
 height: 100%;
 width: 99%;

 display: flex;
 justify-content: center;
 align-items: center;

 color: white;

 background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#002115)) fixed;

}
body {
 display: flex;
 flex-flow: column;
 align-items: center;

 height: 100%;
 width: 80%;

}

links {
 position: relative;
 align-self: flex-start;
 overflow-y: scroll;
 justify-items: center;
 align-items: center;
 width: 40%;
 height: 99%;
 padding: 2% 0 2% 0;

 background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.8));
}
links::-webkit-scrollbar{
 display: none; /*schowanie scrollbara*/
}
links a {
 display: block;

 text-decoration: none;
 align-self: center;
 text-align: center;

 width: 100%;
 font-size: 150%;
 padding: 3% 1.5% 3% 1.5%;

 color: whitesmoke;
}
links a:hover{
 background: rgba(255,255,255, 0.2);
}
header {
 text-align: center;

 width: 100%;
 padding: 0.01%;
 border-radius: 10px;
}
footer {
 background: black;
 color: whitesmoke;
 text-align: center;
}


form {
 padding: 1%;
 font-size: 125%;
 background: transparent;
 color: white;
}

table {
}
tbody {

}
th {
 font-size: 125%;
 color: yellow;
}
tr {

 font-size: 110%;
}
td {

}

h1 {
 font-size: 450%;
 text-align: center;
 color: wheat;
}
h2 {
 color: #bfcbf5;
 font-size: 250%;
}
h3 {
 font-size: 150%;
}
h3 a {
 color: ghostwhite;
}
h3 a:hover {
 color: lightskyblue;
}
h4 {

 padding: 0 5% 0 5%;
 font-size: 125%;
}
h5 {
 font-size: 150%;
 text-align: center;
}
h6 {
 font-size: 100%;
 padding: 0;
 margin: 0;
}
div {

 margin-top: 0.5%;
 padding: 0.5%;
 border-radius: 5px;
 box-shadow: 5px 5px 15px 0 black;
 background: grey;
 color: black;
 font-size: 125%;
}
div a {
 color: white;
 font-size: 150%;
}
div p {

}
